html,body,#wrapper{
	min-height: 100%;
	height:100%;
}
html{
	font: 12px Verdana,sans-serif;
	background:#f2f5f8;
	color: #3259a2;
}
body{
	margin:0;
	padding:0;
}
#wrapper{
	width:1000px;
	margin:auto;
}
#page{
	min-height: 100%;
	margin-bottom:-50px;
	margin-top:-100px;
}
#header{
	height:100px;
	width:100%;
	overflow:hidden;
	padding:0;
	position:relative;
	z-index:2;
}
#header_left{
	float:left;
}
#header_right{
	float:right;
    padding:10px;
}
#main{
	padding:100px 10px 50px;
}
table.table{
	width: 100%;
	margin: 20px;
    border-collapse: collapse;
}
table.table td:first-child{
	background:#ccdaf5;
	border-right:3px solid #b0c2e4;
}
table.table td:last-child{
	border-right:none;
}
table.table thead{
	background:#dce5f6; 
}
table.table td{
	border-right:2px solid #b0c2e4;
	border-bottom:2px solid #b0c2e4;
	padding: 5px;
}
table.table tbody tr:nth-child(2n){
	background:#dce5f6;
}
#menu, .submenu {
	border-top:2px solid #3259a2; 
	border-bottom:2px solid #3259a2; 
	padding: 10px;
}
.submenu{
    border-top: none;
}
#menu ul, .submenu ul{
	margin:0;
	padding:0;
}
#menu ul li, .submenu ul li{
	list-style:none;
	display:inline-block;
}
#menu ul li a, .submenu ul li a{
	color:#3259a2;
	padding: 6px 14px;
	margin:0 5px;
	font-size:14px;
}
#menu .active, .submenu .active{
	text-decoration:none;
	font-weight:bold;
}
#footer{
	height:50px;
	overflow:hidden;
}
#foo_in{	
	text-align:center;
	line-height:50px;
	border-radius: 0 0 10px 10px;
}
.btn{
 	cursor: pointer;
 	background:#3259a2;
 	color: #FFF;
 	font-size:12px;
 	font-weight:bold;
 	text-transform:uppercase;
 	border: none;
 	border-radius: 5px;
 }

.filtr{
	text-align:center;
	margin:20px;
}
.filtr select{
	margin-right: 40px;
}
.error {
    color: #ff0000;
    font-style: italic;
}
#ajax-loader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

#ajax-loader img {
    left: 50%;
    position: relative;
    top: 30%;
}

#schedule{
    width:700px;
    margin: 10px auto;
}
#schedule > div{
    padding: 20px;
    display: inline-block;
    text-align: center;
}
.right{
    text-align: right;
}

#days ul{
        margin: 15px 0;
        padding: 0;
}
#days ul li{
        list-style:none;
        display: inline-block;
}
#days ul li a{
        color: #3259a2;
        padding: 6px 14px;
        border-radius: 6px;
        background-color: #0d1061;
        margin: 0 5px;
        font-size:14px;
}

#ratingTable{
    overflow-x:auto;
    padding: 0 5px;
}
#editRatingSettings{
    padding: 10px;
    text-align: center;
}
#editRatingSettings table{
    margin: auto;
}

.hide{
    display: none;
}
.modular{
    background: #32CD32;
}
.finalRating{
    background: #FF8C00;
}

#editRating input{
    width: 60px;
    background-color: #B0C2E4;
}
#editRating input:focus{
    background-color: #EEE;
}
#editRating input.error{
    background-color: #F00;
    color: #000;
    font-style: normal;
}